*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 216, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form h2{
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.login-form{
    position: relative;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 300px;
}

.input-group{
    margin-bottom: 20px;
}

.input-group label{
    display: block;
    font-size: 14px;
    color: #000000;
    margin-bottom: 6px;
}

.input-group input:focus{
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
}

.login-btn{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
}

.login-btn:hover{
    background-color: #acd1b5;
}

.registro{
    position: absolute;
    margin-top: 45px;
    right: 2%;
    font-size: 12px;
    
}

.registro button{
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    text-decoration: underline;
}